header {
  padding: 0 0 10px 0;
  margin: 0 10px;
  background: #118868;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  -webkit-box-shadow: 5px 5px #2c4d44;
          box-shadow: 5px 5px #2c4d44;
}

header .top-nav .left-top {
  color: white;
}

header .top-nav ul {
  list-style: none;
  padding: 0;
}

header .top-nav .right-top {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-nav .right-top .dropdown-menu {
  border: 1px solid #8a8a8a;
  border-radius: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

header .top-nav .right-top .wrap-track p {
  margin: 0;
}

header .top-nav .right-top .wrap-track .last-order {
  padding: 5px;
}

header .top-nav .right-top .wrap-track .last-order li a {
  color: blue;
}

header .top-nav .right-top .wrap-track .last-order li a:hover {
  color: #006931;
  text-decoration: underline;
}

header .top-nav .right-top .wrap-track .track {
  padding: 10px;
}

header .top-nav .right-top .wrap-track .track a {
  color: blue;
}

header .top-nav .right-top .wrap-track .track .top-input-wrap .input-no {
  width: 100%;
  border: 2px solid #006931;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

header .top-nav .right-top .wrap-track .track .top-input-wrap button {
  border: none;
  background: #006931;
  padding: 0 5px;
  font-size: 20px;
  color: white;
}

header .top-nav .right-top .wrap-customer {
  padding: 5px;
}

header .top-nav .right-top .wrap-customer ul {
  width: 100%;
}

header .top-nav .right-top .wrap-customer ul li {
  margin: 0;
}

header .top-nav .right-top .wrap-customer ul li a {
  color: black;
}

header .top-nav .right-top .wrap-save {
  padding: 15px;
}

header .top-nav .right-top .wrap-save .save-input .input-no {
  width: 100%;
  border: 2px solid #006931;
  -webkit-box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

header .top-nav .right-top .wrap-save .save-input button {
  border: none;
  background: #006931;
  padding: 0 5px;
  font-size: 20px;
  color: white;
}

header .top-nav .right-top ul {
  list-style: none;
}

header .top-nav .right-top ul li {
  margin: 0px 15px;
}

header .top-nav .right-top ul li a {
  text-decoration: none;
  color: white;
}

header .middle-nav .navigation-toggler {
  display: none;
}

header .middle-nav .dropdown-toggler {
  display: none;
}

header .middle-nav .dropdown-toggler .offcanvas {
  width: 250px;
}

header .middle-nav .dropdown-toggler .offcanvas .offcanvas-header {
  background-color: #006931;
  color: white;
}

header .middle-nav .dropdown-toggler .offcanvas .offcanvas-body {
  background-color: #b1b1c2;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

header .middle-nav .dropdown-toggler .offcanvas .offcanvas-body .collapse-design {
  padding: 10px;
  background-color: #0D4A73;
  margin: 10px 0;
  border-radius: 20px;
}

header .middle-nav .dropdown-toggler .offcanvas .offcanvas-body .collapse-design a {
  text-decoration: none;
  color: white;
}

header .middle-nav .dropdown-toggler .offcanvas .offcanvas-body ul {
  list-style: none;
  padding: 0;
}

header .middle-nav .dropdown-toggler .offcanvas .offcanvas-body ul li {
  margin: 10px 0;
  padding: 10px;
  background-color: #4D4D4F;
  border-radius: 20px;
}

header .middle-nav .dropdown-toggler .offcanvas .offcanvas-body ul li .dropdown {
  position: relative;
  display: inline-block;
}

header .middle-nav .dropdown-toggler .offcanvas .offcanvas-body ul li .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  padding: 10px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .middle-nav .dropdown-toggler .offcanvas .offcanvas-body ul li .dropdown .dropdown-content a {
  margin: 5px 0;
  padding: 5px;
  text-decoration: none;
  color: #006931;
  text-align: left;
}

header .middle-nav .dropdown-toggler .offcanvas .offcanvas-body ul li .dropdown .dropdown-content a:hover {
  background-color: lightgray;
}

header .middle-nav .dropdown-toggler .offcanvas .offcanvas-body ul li .dropdown .dropbtn {
  font-size: 16px;
  color: white;
  background: none;
  border: none;
}

header .middle-nav .dropdown-toggler .offcanvas .offcanvas-body ul li .dropdown:hover .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .middle-nav .search-toggler {
  display: none;
}

header .middle-nav .search-toggler .offcanvas {
  padding: 20px;
  background: transparent;
  border: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header .middle-nav .search-bar {
  background-color: white;
  border-radius: 10px;
  height: 35px;
}

header .middle-nav .search-bar .left-category {
  padding: 0 5px;
  border-right: 2px solid black;
}

header .middle-nav .search-bar .left-category button {
  border: none;
  background: none;
}

header .middle-nav .search-bar .right-search {
  padding: 0 5px;
}

header .middle-nav .search-bar .right-search input {
  width: 100%;
  overflow: hidden;
  border: none;
}

header .middle-nav .search-bar .right-search a {
  padding-left: 5px;
}

header .middle-nav .user-icon ul {
  list-style: none;
}

header .middle-nav .user-icon ul .user-profile .dropdown-menu {
  border: 1px solid #8a8a8a;
  border-radius: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

header .middle-nav .user-icon ul .user-profile .dropdown-menu li {
  margin: 0;
  padding: 5px;
}

header .middle-nav .user-icon ul li {
  margin: 0 15px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}

header .middle-nav .user-icon ul li .offcanvas .offcanvas-header {
  border-bottom: 2px solid #e6e6e6;
}

header .middle-nav .user-icon ul li .offcanvas .offcanvas-header .bell {
  padding: 5px 10px;
  font-size: 20px;
  background-color: #e9e9e9;
  border-radius: 50%;
}

header .middle-nav .user-icon ul li .offcanvas .offcanvas-header .title-top {
  margin-left: 20px;
}

header .middle-nav .user-icon ul li .offcanvas .offcanvas-header .title-top h4 {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
}

header .middle-nav .user-icon ul li .offcanvas .offcanvas-header .title-top a {
  text-decoration: none;
  float: left;
}

header .middle-nav .user-icon ul li .offcanvas .card {
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 20px 0;
}

header .middle-nav .user-icon ul li .offcanvas .card p {
  margin: 0;
}

header .middle-nav .user-icon ul li .offcanvas .card a {
  text-decoration: none;
}

header .middle-nav .user-icon .fa {
  color: #7B1315;
}

header .bottom-nav .nav-wrap {
  padding: 0 20px;
}

header .bottom-nav .nav-wrap .column-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .bottom-nav .nav-wrap .column-wrap .my-colums a {
  text-decoration: none;
  color: white !important;
}

header .bottom-nav .nav-wrap .column-wrap .my-colums .design-btn {
  padding: 10px;
  background-color: #0D4A73;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header .bottom-nav .nav-wrap .column-wrap .my-colums .styled-btn {
  background-color: #7B1315;
  padding: 10px;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header .bottom-nav .nav-wrap .column-wrap .my-colums .dropdown {
  display: inline-block;
  position: relative;
  color: white;
}

header .bottom-nav .nav-wrap .column-wrap .my-colums .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .bottom-nav .nav-wrap .column-wrap .my-colums .dropdown .dropdown-content a {
  margin: 5px 0;
  padding: 5px;
  text-decoration: none;
  color: black !important;
  text-align: left;
}

header .bottom-nav .nav-wrap .column-wrap .my-colums .dropdown .dropdown-content a:hover {
  background-color: lightgray;
}

header .bottom-nav .nav-wrap .column-wrap .my-colums .dropdown .dropbtn {
  font-size: 16px;
  color: white;
  background: none;
  border: none;
}

header .bottom-nav .nav-wrap .column-wrap .my-colums .dropdown:hover .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-main .login-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login-main .login-wrapper .login {
  border-radius: 20px;
  background: #ace7d4;
}

.login-main .login-wrapper .login .login-left .no-underline {
  text-decoration: none;
  color: black;
}

.login-main .login-wrapper .login .login-left h3 {
  color: #1B5DDE;
}

.login-main .login-wrapper .login .login-left form input {
  border: none;
  background: none;
  border-radius: none !important;
  border-bottom: 1px solid black;
}

.login-main .login-wrapper .login .login-left form button {
  border-radius: 20px;
  margin: 5px 0;
  padding: 5px 0;
}

.login-main .login-wrapper .login .login-left form #forgot-password {
  text-decoration: none;
  color: black;
}

.login-main .login-wrapper .login .login-left form #forgot-password:hover {
  color: #1B5DDE;
}

.login-main .login-wrapper .login .login-left form .star {
  color: red;
}

.login-main .login-wrapper .login .login-right {
  position: relative;
  background: url("../images/login.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.login-main .login-wrapper .login .login-right .close {
  position: absolute;
  top: 10px;
  right: 30px;
  text-decoration: none;
  font-size: 25px;
  color: red !important;
  cursor: pointer;
  font-weight: 500;
  background-color: brown;
  border: 1px solid black;
  padding: 0px 8px;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.login-main .login-wrapper .login .login-right .close:hover {
  color: black;
  background-color: white;
}

.register-main .register-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.register-main .register-wrapper .register {
  border-radius: 20px;
  background: #ace7d4;
}

.register-main .register-wrapper .register .register-left {
  padding: 40px 30px;
}

.register-main .register-wrapper .register .register-left .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid black;
}

.register-main .register-wrapper .register .register-left .link {
  text-decoration: none;
}

.register-main .register-wrapper .register .register-right {
  position: relative;
}

.register-main .register-wrapper .register .register-right .right-image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.register-main .register-wrapper .register .register-right .right-image img {
  height: 350px;
}

.register-main .register-wrapper .register .register-right .close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 25px;
  background-color: brown;
  border: 1px solid black;
  padding: 0px 8px;
  border-radius: 50%;
  -webkit-transition: 2s;
  transition: 2s;
}

.register-main .register-wrapper .register .register-right .close:hover {
  color: black;
  background-color: white;
}

.forgot-main .forgot-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.forgot-main .forgot-wrapper .forgot {
  border-radius: 20px;
  background: #ace7d4;
}

.forgot-main .forgot-wrapper .forgot .forgot-left .back-login {
  text-decoration: none;
}

.forgot-main .forgot-wrapper .forgot .forgot-left .back-login .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid black;
}

.forgot-main .forgot-wrapper .forgot .forgot-right {
  position: relative;
}

.forgot-main .forgot-wrapper .forgot .forgot-right .close-btn {
  position: absolute;
  top: 10px;
  right: 30px;
  text-decoration: none;
  font-size: 25px;
  color: red !important;
  cursor: pointer;
  font-weight: 500;
  background-color: brown;
  border: 1px solid black;
  padding: 0px 8px;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.forgot-main .forgot-wrapper .forgot .forgot-right .close-btn:hover {
  color: black;
  background-color: white;
}

.forgot-main .forgot-wrapper .forgot .forgot-right .forgot-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 220px;
}

.contact-us {
  background-color: white;
  margin: 20px 10px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px #4d4d4d;
          box-shadow: 5px 5px #4d4d4d;
  padding: 20px;
}

.contact-us .contact-wrapper .contact-top iframe {
  height: 100%;
  width: 100%;
}

.contact-us .contact-wrapper .contact-top .bottom-desc ul {
  list-style: none;
  padding-left: 0;
}

.contact-us .contact-wrapper .contact-top .bottom-desc ul li {
  margin: 20px 0;
}

.contact-us .contact-wrapper .contact-top .bottom-desc ul li span {
  padding: 5px 10px;
  border-radius: 50%;
  margin-right: 10px;
  color: white;
}

.contact-us .contact-wrapper .mid-section .content-mid {
  background-color: #e4e4e4;
  border-radius: 10px;
}

.contact-us .contact-wrapper .mid-section .content-mid .lead title p {
  font-weight: 500px;
}

.contact-us .contact-wrapper .mid-section .col-lg-4 .content-mid {
  padding: 10px;
  margin: 0 5px;
  min-height: 150px;
}

.contact-us .contact-wrapper .mid-section .col-lg-4 .content-mid span {
  margin: 10px;
}

.contact-us .contact-wrapper .mid-section .col-lg-4 .content-mid .title {
  color: blue;
  font-weight: 400;
}

.contact-us .bottom-contact {
  background-color: #e4e4e4;
  border-radius: 20px;
}

.contact-us .bottom-contact .contact-left img {
  height: 300px;
}

.contact-us .bottom-contact .contact-right .styled-btn {
  padding: 10px 20px;
  background: orange;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
}

.contact-us .bottom-contact .contact-right .fa-comments {
  margin-right: 10px;
}

.contact-us .bottom-contact .contact-right a {
  text-decoration: none;
  margin-right: 5px;
}

.contact-us .bottom-contact .contact-right p {
  font-weight: 300px;
  font-size: medium;
}

.contact-us .bottom-contact .contact-right .fw-bold {
  font-weight: 300;
  text-shadow: 1px;
}

.notification-details .notify-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notification-details .notify-wrap .upper-notification-container {
  border-bottom: 1px solid #dbdbdb;
}

.notification-details .notify-wrap .upper-notification-container .notify-bell {
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
}

.notification-details .notify-wrap .upper-notification-container .upperr-notification p {
  margin: 7px;
}

.notification-details .notify-wrap .upper-notification-container .upperr-notification p a {
  text-decoration: none;
}

.notification-details .notify-wrap .main-wrap {
  height: 90vh;
  overflow-y: scroll;
}

.notification-details .notify-wrap .main-wrap .wrap {
  margin: 10px;
  padding: 10px;
  background-color: #e6e6e6;
}

.notification-details .notify-wrap .main-wrap .wrap .wrap-image img {
  height: 200px;
  width: 400px;
}

.notification-details .notify-wrap .main-wrap .wrap-text {
  margin-left: 10px;
}

.notification-details .notify-wrap .main-wrap .wrap-text h6 {
  margin-top: 10px;
}

.notification-details .notify-wrap .main-wrap .wrap-text p {
  margin: 0px;
}

.notification-details .notify-wrap .main-wrap .wrap-text .text-muted {
  margin-top: 4px;
}

.payment-details {
  background-color: white;
  margin: 20px 10px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px #4d4d4d;
          box-shadow: 5px 5px #4d4d4d;
  padding: 20px;
}

.payment-details .payment-wrapper {
  background-color: #e4e4e4;
  padding: 20px;
  padding: 40px;
}

.payment-details .payment-wrapper .payment-choose {
  list-style: none;
  padding-left: 0;
  margin: 50px 0;
}

.payment-details .payment-wrapper .payment-choose a {
  text-decoration: none;
  color: black;
}

.payment-details .payment-wrapper .payment-choose .method {
  background-color: white;
  border: 2px solid lightgray;
  min-height: 120px;
  margin: 0 5px;
}

.payment-details .payment-wrapper .payment-choose .method .gateway-wrap {
  padding: 10px;
}

.payment-details .payment-wrapper .payment-choose .method .gateway-wrap p {
  margin: 0;
}

.payment-details .payment-wrapper .payment-choose .method .gateway-wrap img {
  height: 50px;
}

.payment-details .gateway-wrap-right {
  background-color: white;
  border: 2px solid lightgray;
  margin: 2px 7px;
  padding: 15px;
}

.payment-details .gateway-wrap-right span {
  color: orange;
  font-size: larger;
}

.payment-details .gateway-wrap-right h6 {
  color: orange;
  font-size: larger;
}

.payment {
  background-color: white;
  margin: 20px 10px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px #4d4d4d;
          box-shadow: 5px 5px #4d4d4d;
  padding: 20px;
}

.payment .gateway img {
  height: 70px;
}

.payment .click_tab {
  width: 40%;
  margin-top: 10px;
  margin-left: 10%;
}

.payment .click_tab .E-sewa, .payment .click_tab .Ime, .payment .click_tab .COD {
  display: none;
}

.payment .click_tab label span {
  color: red;
}

.payment .E-sewa {
  margin-top: 10px;
  margin-left: 10%;
}

.payment .E-sewa button {
  width: 35%;
  margin-left: 40px;
  border: none;
  background-color: blue;
  color: white;
  height: 40px;
}

.payment .Ime {
  margin-top: 10px;
  margin-left: 10%;
}

.payment .Ime button {
  width: 35%;
  margin-left: 40px;
  border: none;
  background-color: blue;
  color: white;
  height: 40px;
}

.payment .COD {
  margin-top: 20px;
  margin-left: 10%;
}

.payment .COD button {
  width: 35%;
  margin-left: 40px;
  border: none;
  background-color: blue;
  color: white;
  height: 40px;
}

.payment .wrap-right .gateway-wrap-right {
  background-color: #f8f6f6;
  border: 2px solid lightgray;
  margin: 2px 7px;
  padding: 15px;
}

.payment .wrap-right .gateway-wrap-right span h6 {
  color: orange;
  font-size: larger;
}

.hero-element {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../images/html_page.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/html_page.jpg");
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-element .image-text {
  position: absolute;
  top: 80%;
  left: 50%;
  color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero-element .image-text h2 {
  font-size: 3.2rem;
  font-weight: 600;
}

.hero-element .image-text p {
  margin-left: 230px;
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 450;
}

.sell_on {
  margin: 10px 0 20px 0;
}

.sell_on .grow-business {
  position: relative;
  padding: 20px 0;
}

.sell_on .grow-business .left_heading {
  position: absolute;
  top: 10%;
  left: 20%;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.sell_on .grow-business .left_heading h1 {
  font-size: 3rem;
  font-weight: 550;
}

.sell_on .grow-business .left_heading h1 .with_medmax {
  color: #006931;
  font-weight: 700;
}

.sell_on .grow-business .left_heading h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 20px;
  padding: 10px;
}

.sell_on .grow-business .left_heading button {
  list-style: none;
  border: none;
  width: 150px;
  height: 48px;
  background-color: #006931;
  margin-top: 20px;
  border-radius: 30px;
  color: white;
  font-size: 25px;
  margin-left: 40px;
  -webkit-transition: 1s;
  transition: 1s;
}

.sell_on .grow-business .left_heading button:hover {
  background-color: #58ee9e;
  color: black;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.sell_on .grow-business .left_heading .user_para {
  margin-top: 40px;
  font-size: 25px;
  font-weight: 500;
  list-style: none;
}

.sell_on .grow-business .left_heading .user_para .login_link {
  text-decoration: none;
  color: #006931;
}

.sell_on .mid_heading h1 {
  font-size: 4rem;
}

.sell_on .mid_heading h1 span {
  color: #006931;
}

.sell_on .container .mid-content .content_para {
  margin-left: 10px;
  margin-top: 55px;
  font-size: 1.2rem;
}

.sell_on .container .mid-content .content_para .content_span_first {
  font-weight: 700;
  color: #006931;
}

.sell_on .container .mid-content .d-flex img {
  height: 120px;
  margin-top: 40px;
  border: 1 px solid black;
  border-radius: 50%;
  background: #147a44;
  background: linear-gradient(351deg, #147a44 0%, #1bb764 52%, #0b6936 97%);
  padding: 20px;
  font-size: 80px;
  color: white;
}

.sell_on .container .mid-content .d-flex span {
  font-weight: 600;
  margin-left: 10px;
}

.sell_on .lower_heading {
  font-size: 3.5rem;
}

.sell_on .lower_heading .lower_span {
  color: #006931;
}

.sell_on .main-wrap-support {
  background: #dbe295;
  background: linear-gradient(351deg, #dbe295 0%, #cde364 52%, #baa922 97%);
  padding: 50px;
  border-radius: 30px;
}

.sell_on .main-wrap-support .lower_container {
  padding: 20px 10px;
  border-radius: 30px;
  background: white;
  text-align: center;
  height: 400px;
  overflow: hidden;
}

.sell_on .main-wrap-support .lower_container a {
  text-decoration: none;
  color: black;
}

.sell_on .main-wrap-support .lower_container img {
  height: 100px;
  border-radius: 50%;
  padding: 10px;
  background: gray;
}

.sell_on .main-wrap-support .lower_container .bottom-content h3 {
  color: orange;
  font-size: 2rem;
  font-weight: 600;
}

.sell_on .main-wrap-support .lower_container .bottom-content p {
  font-size: 18px;
  font-weight: 600;
}

.sell_on .container .card_left {
  height: 370px;
  width: 100%;
  padding: 40px;
  background: #d8d5d5;
}

.sell_on .container .card_left img {
  height: 60px;
  width: 80px;
  border: 1px solid black;
  border-radius: 60%;
  padding: 5px;
  background-color: #eed7ac;
  border: none;
}

.sell_on .container .card_left .card_para {
  font-size: 18px;
  font-weight: 500;
  text-shadow: #0b6936;
}

.sell_on .container .card_left .card_btn {
  margin-top: 8px;
  border: none;
  padding: 10px;
  background-color: #006931;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sell_on .container .card_left .card_btn:hover {
  background-color: #90f0bd;
  color: black;
}

.sell_on .container .card_left h1 {
  font-size: 3rem;
  color: #7b1315;
  text-transform: uppercase;
}

.sell_on .container .card_left h1 span {
  color: #006931;
}

.sell_on .container .card_right {
  height: 370px;
  width: 100%;
  /* border: 1px solid black; */
  padding: 100px;
  background: #d8d5d5;
}

.sell_on .container .card_right .card_btn {
  margin-top: 20px;
  border: none;
  background-color: #006931;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sell_on .container .card_right .card_btn:hover {
  background-color: #90f0bd;
  color: black;
}

.sell_on .container .card_right h1, .sell_on .container .card_right h3 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  text-shadow: #0b6936;
  color: #7b1315;
}

.sell_on .container .para-heading {
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 2px;
}

.sell_on .container .bottom_para {
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 4px;
}

.sell_on .container a {
  text-decoration: none;
}

.sell_on .container a h6 {
  font-size: 1.5rem;
  color: orange;
}

.sell_on .container a:hover {
  color: #006931;
}

.sell_on .faq-section {
  background-color: #006931;
  padding: 10px 0;
}

.sell_on .faq-section a {
  text-decoration: none;
  color: white;
}

.sell_on-main {
  margin: 10px 0 20px 0;
}

.sell_on-main .sell_on-wrapper {
  padding: 20px 0;
}

.sell_on-main .sell_on-wrapper .left-relation {
  position: relative;
}

.sell_on-main .sell_on-wrapper .grow-bussiness {
  position: absolute;
  top: 10%;
  left: 20%;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.sell_on-main .sell_on-wrapper .grow-bussiness h1 {
  font-size: 3rem;
  font-weight: 550;
}

.sell_on-main .sell_on-wrapper .grow-bussiness h1 .grow-bussiness_span {
  color: #006931;
  font-weight: 700;
}

.sell_on-main .sell_on-wrapper .grow-bussiness h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 20px;
  padding: 10px;
}

.sell_on-main .sell_on-wrapper .grow-bussiness button {
  list-style: none;
  border: none;
  width: 150px;
  height: 48px;
  background-color: #006931;
  margin-top: 20px;
  border-radius: 30px;
  color: white;
  font-size: 25px;
  margin-left: 40px;
  -webkit-transition: 1s;
  transition: 1s;
}

.sell_on-main .sell_on-wrapper .grow-bussiness button:hover {
  background-color: #58ee9e;
  color: black;
  font-size: 1.5rem;
}

.sell_on-main .sell_on-wrapper .grow-bussiness .grow-bussiness_para {
  margin-top: 40px;
  font-size: 25px;
  font-weight: 500;
  list-style: none;
}

.sell_on-main .sell_on-wrapper .grow-bussiness .grow-bussiness_para .login_link {
  text-decoration: none;
  color: #006931;
}

.sell_on-main .join-medmax-heading h1 {
  font-size: 4rem;
}

.sell_on-main .join-medmax-heading h1 span {
  color: #006931;
}

.sell_on-main .join_medmax-wrapper .join_medmax-content .join_medmax_para {
  margin-left: 10px;
  margin-top: 55px;
  font-size: 1.2rem;
}

.sell_on-main .join_medmax-wrapper .join_medmax-content .join_medmax_para .join_medmax_span {
  font-weight: 700;
  color: #006931;
}

.sell_on-main .join_medmax-wrapper .join_medmax-content .d-flex img {
  height: 120px;
  margin-top: 40px;
  border: 1 px solid black;
  border-radius: 50%;
  background: #147a44;
  background: linear-gradient(351deg, #147a44 0%, #1bb764 52%, #0b6936 97%);
  padding: 20px;
  font-size: 80px;
  color: white;
}

.sell_on-main .join_medmax-wrapper .join_medmax-content .d-flex span {
  font-weight: 600;
  margin-left: 10px;
}

.sell_on-main .medmax_support_heading {
  font-size: 3.5rem;
}

.sell_on-main .medmax_support_heading .medmax_support_span {
  color: #006931;
}

.sell_on-main .main-wrap-support {
  background: #dbe295;
  background: linear-gradient(351deg, #dbe295 0%, #cde364 52%, #baa922 97%);
  padding: 50px;
  border-radius: 30px;
}

.sell_on-main .main-wrap-support .support_container {
  padding: 20px 10px;
  border-radius: 30px;
  background: white;
  text-align: center;
  height: 400px;
  overflow: hidden;
}

.sell_on-main .main-wrap-support .support_container a {
  text-decoration: none;
  color: black;
}

.sell_on-main .main-wrap-support .support_container img {
  height: 100px;
  border-radius: 50%;
  padding: 10px;
  background: gray;
}

.sell_on-main .main-wrap-support .support_container .support-content h3 {
  color: orange;
  font-size: 2rem;
  font-weight: 600;
}

.sell_on-main .main-wrap-support .support_container .support-content p {
  font-size: 18px;
  font-weight: 600;
}

.sell_on-main .medmax_card-wrapper .card_left {
  height: 370px;
  width: 100%;
  padding: 40px;
  background: #d8d5d5;
}

.sell_on-main .medmax_card-wrapper .card_left img {
  height: 60px;
  width: 80px;
  border: 1px solid black;
  border-radius: 60%;
  padding: 5px;
  background-color: #eed7ac;
  border: none;
}

.sell_on-main .medmax_card-wrapper .card_left .card_para {
  font-size: 18px;
  font-weight: 500;
  text-shadow: #0b6936;
}

.sell_on-main .medmax_card-wrapper .card_left .card_btn {
  margin-top: 8px;
  border: none;
  padding: 10px;
  background-color: #006931;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sell_on-main .medmax_card-wrapper .card_left .card_btn:hover {
  background-color: #90f0bd;
  color: black;
}

.sell_on-main .medmax_card-wrapper .card_left h1 {
  font-size: 3rem;
  color: #7b1315;
  text-transform: uppercase;
}

.sell_on-main .medmax_card-wrapper .card_left h1 span {
  color: #006931;
}

.sell_on-main .medmax_card-wrapper .card_right {
  height: 370px;
  width: 100%;
  /* border: 1px solid black; */
  padding: 100px;
  background: #d8d5d5;
}

.sell_on-main .medmax_card-wrapper .card_right .card_btn {
  margin-top: 20px;
  border: none;
  background-color: #006931;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sell_on-main .medmax_card-wrapper .card_right .card_btn:hover {
  background-color: #90f0bd;
  color: black;
}

.sell_on-main .medmax_card-wrapper .card_right h1, .sell_on-main .medmax_card-wrapper .card_right h3 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  text-shadow: #0b6936;
  color: #7b1315;
}

.sell_on-main .bottom_paragraph-wrapper .para-heading {
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 2px;
}

.sell_on-main .bottom_paragraph-wrapper .bottom_para {
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 4px;
}

.sell_on-main .bottom_paragraph-wrapper a {
  text-decoration: none;
}

.sell_on-main .bottom_paragraph-wrapper a h6 {
  font-size: 1.5rem;
  color: orange;
}

.sell_on-main .bottom_paragraph-wrapper a:hover {
  color: #006931;
}

.sell_on-main .faq-section {
  background-color: #006931;
  padding: 10px 0;
}

.sell_on-main .faq-section a {
  text-decoration: none;
  color: white;
}

.main-category {
  background-color: white;
  margin: 20px 10px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px #4d4d4d;
          box-shadow: 5px 5px #4d4d4d;
  padding: 20px;
}

.main-category .category-wrapper {
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 17px 0px #a1cea1;
          box-shadow: 0 0 17px 0px #a1cea1;
  border: 1px solid #e3e3e3;
}

.main-category .category-wrapper .accordion {
  margin: 0 !important;
}

.main-category .category-wrapper .accordion .accordion-button {
  color: black;
}

.main-category .category-wrapper .accordion .accordion-body ul {
  list-style: none;
  padding-left: 0;
}

.main-category .category-wrapper .accordion .accordion-body ul li {
  padding: 5px;
}

.main-category .category-wrapper .accordion .accordion-body ul li a {
  text-decoration: none;
  color: #000;
}

.main-category .category-wrapper .accordion .accordion-body ul li:hover {
  background-color: #d4d4d4;
  color: black;
}

.main-category .filter-wrapper {
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 17px 0px #a1cea1;
          box-shadow: 0 0 17px 0px #a1cea1;
  border: 1px solid #e3e3e3;
}

.main-category .dropdown-filter {
  list-style: none;
  padding: 5px 0;
}

.main-category .dropdown-filter li {
  padding: 2px 0;
}

.main-category .list-wrap .carousel-inner .carousel-item img {
  height: 250px;
  border-radius: 20px;
}

.main-category .list-wrap .main-list {
  margin: 10px 0;
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 20px;
}

.main-category .list-wrap .main-list ul {
  list-style: none;
}

.main-category .list-wrap .main-list ul li {
  margin: 0 5px;
}

.main-category .list-wrap .main-list .bottom-list .card {
  border: 1px solid black;
}

.main-category .list-wrap .main-list .bottom-list .card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-box-shadow: 0 0 17px 0px #006931;
          box-shadow: 0 0 17px 0px #006931;
  border: 1px solid #e3e3e3;
  cursor: pointer;
}

.main-category .list-wrap .main-list .bottom-list .card .card-img-top {
  height: 150px;
}

.dropdown-section {
  margin: 10px 20px;
  background-color: #4D4D4F;
  border-radius: 20px;
}

.dropdown-section .dropdown {
  padding: 5px 0;
  position: relative;
  display: inline-block;
}

.dropdown-section .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background: white;
  min-width: 150px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1;
}

.dropdown-section .dropdown .dropdown-content a {
  margin: 5px 0;
  padding: 5px;
  text-decoration: none;
  color: #006931;
  text-align: left;
}

.dropdown-section .dropdown .dropdown-content a:hover {
  background-color: #ebebeb;
}

.dropdown-section .dropdown .dropbtn {
  font-size: 16px;
  color: white;
  background: none;
  border: none;
}

.dropdown-section .dropdown:hover .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=styles.css.map */