/* .contact-us{
    background-color: white;
    margin: 20px 10px;
    border-radius: 20px;
    box-shadow: 5px 5px rgb(77, 77, 77);
    padding: 20px;
}
.contact-top iframe{
    height: 100%;
    width: 100%;
}
.bottom-desc ul{
    list-style: none;
    padding-left: 0;
    
}
.bottom-desc ul li{
    margin: 20px 0;
}
.bottom-desc ul li span{
    padding: 5px 10px;
    border-radius: 50%;
    margin-right: 10px;
    color: white;
}

.mid-section .col-lg-4 .content-mid{
    padding: 10px;
    margin: 0 5px;
    min-height: 150px;
}
.mid-section .col-lg-4 .content-mid .title{
    color: blue;
    font-weight: 400;
}
.mid-section .content-mid span{
    margin: 10px;
}
.bottom-contact{
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
}
.contact-right .styled-btn{
    padding: 10px 20px;
    background: orange;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

.contact-right .styled-btn .fa-comments{
    margin-right: 10px;
}
.contact-right a{
    text-decoration: none;
    margin-right: 5px;
}
.contact-right a p {
    font-weight: 300px;
    font-size: medium;
}
.contact-left img{
    height: 300px;
}
.content-mid  {
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    
}
.contact-right .fw-bold{
    font-weight: 300;
    text-shadow: 1px;
}
.content-mid .lead title p{
    font-weight: 500px;
    
} */
